# OTHERS
.vscode/
build/
private/
copie*
.vscode/

# OBJECTS
*~
*.o

# CMAKE
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# R-TYPE
L-Type
L-Type-*
a.out
game
